<div class="container-fluid">
    <div layout="column" layout-padding ng-cloak class=".md-whiteframe-2dp">
        <div id="login-container" class="container">
            <div class="content">
                <div class="title">Car Tracker</div>
                <div flex>
                    <md-input-container class="md-block">
                        <!-- Use floating placeholder instead of label -->
                        <input id="email" ng-model="email" type="email" placeholder="Email (required)"
                               ng-required="true">
                    </md-input-container>

                    <md-input-container class="md-block">
                        <!-- Use floating placeholder instead of label -->
                        <input id="password" ng-model="password" type="password"
                               placeholder="Password (required)" ng-required="true">
                    </md-input-container>
                    <md-button class="md-raised md-primary" ng-click="logIn()">Login</md-button>
                    <p><i>Only for Administrators</i></p>
                </div>
            </div>
        </div>
    </div>
</div>


<!--  <md-whiteframe class="md-whiteframe-1dp" flex-sm="45" flex-gt-sm="35" flex-gt-md="100" layout
                               layout-align="center center"> -->


<!-- </md-whiteframe> -->