<!-- Toolbar -->
<md-toolbar layout="row">
    <div class="md-toolbar-tools">
        <md-button class="md-icon-button" aria-label="Settings" ng-click="close();">
            <md-icon md-svg-icon="img/icons/menu.svg"></md-icon>
        </md-button>
        <h2 class="md-toolbar-tools" layout-align="center center">
            Tools
        </h2>
    </div>
    <md-button class="logout-button" ui-sref="logout">Logout</md-button>
</md-toolbar>

<md-tabs class="container content-holder md-whiteframe-2dp" md-dynamic-height md-border-bottom>
    <!-- 1 Tab -->
    <md-tab label="Graphen">

        <!-- Spinner until data is loaded -->
        <div class="container content-holder" ng-show="!dataLoaded" layout="column" layout-align="center center">
            <md-progress-circular class="md-accent"
                                  md-diameter="100" md-mode='indeterminate'>
            </md-progress-circular>
        </div>

        <!-- Line Graph Container  -->
        <div id="line-container" layout="row" layout-xs="column" layout-sm="column" layout-align="start start"
             class="container content-holder" style="height: 30vh">
        </div>
        <!-- END  -->

        <!-- Pie Graph Container -->
        <div layout="row" layout-xs="column" layout-sm="column">
            <div id="pie-container" layout="column" layout-xs="column" layout-sm="column" layout-align="start start"
                 class="container content-holder md-whiteframe-1dp" style="height: 100%" flex="50" flex-sm="100"
                 flex-xs="100"></div>

            <div id="pie-sub-container" layout="column" layout-xs="column" layout-sm="column" layout-align="start start"
                 class="container content-holder md-whiteframe-1dp" style="height: 100%" flex="50" flex-sm="100"
                 flex-xs="100">

                <h3 ng-show="!brandSelected"> Wählen Sie ein Fahrzeugbrand aus</h3>
            </div>
        </div>
        <!-- END -->
    </md-tab>

    <!-- 2 Tab -->
    <md-tab label="Map">
        <div layout="row" layout-sm="column" layout-xs="column">
            <!-- Map Container -->
            <div id="map" layout="column" flex="70" flex-sm="100" flex-xs="100" flex-order="1" flex-order-sm="2"
                 flex-order-xs="2"></div>

            <!-- View Control -->
            <div id="controll-container" layout="column" flex="30" flex-sm="100"
                 flex-xs="100" flex-order="2"
                 flex-order-sm="1" flex-order-xs="1">

                <div layout="column" style="margin-bottom: 2%;">
                    <h4>Brand Auswahl:</h4>
                    <md-select id="map-selector" ng-model="selector" name="mapSelector" placeholder="Brand"
                               aria-label="Selection">
                        <md-label>Auto Brands</md-label>
                        <md-option ng-repeat="brand in brandArray" ng-click="setBrand(brand)">
                            <md-button ng-class="{'selected' : brand === selected }"
                                       aria-label="Brand Auswahl">
                                {{brand.name}}
                            </md-button>
                        </md-option>
                    </md-select>

                    <div layout="column">
                        <md-button class="md-raised md-primary" ng-click="resetMap()"> Reset</md-button>
                    </div>
                </div>

                <div id="detailed-container" layout="column" ng-show="detailsLoaded" flex="100">
                    <md-card class="detail-card" flex="100">
                        <img id="detail-image" ng-src="http://localhost:8000/img/cars/{{postDetailed.img_path}}"
                             alt="{{postDetailed.model}}" flex="100">
                        <md-content id="detail-content" layout-align="space-around">
                            <h3>Detail Infos </h3>
                            <p>Brand : {{postDetailed.brand}}</p>
                            <p>Model: {{postDetailed.model}}</p>
                            <p>Ort: {{postAddress}}</p>
                            <p>Datum: {{postDetailed.created_at}}</p>
                            <br>
                            <p>Besitzer: {{postUser.username}}</p>
                            <p>Besitzer Email: {{postUser.email}}</p>

                        </md-content>
                    </md-card>
                </div>
            </div>
        </div>
    </md-tab>
</md-tabs>


<!-- Sidebar navigation starts here -->
<div layout="column" ng-cloak>
    <section layout="row" flex>
        <md-sidenav
                class="md-sidenav-left"
                md-component-id="left"
                md-disable-backdrop
                md-whiteframe="4">
            <md-toolbar class="md-theme-indigo">
                <div class="md-toolbar-tools">
                    <h1 class="md-toolbar-tools" layout-align="center center">Admin Panel</h1>
                    <span flex></span>
                    <md-button class="md-icon-button" aria-label="Settings" ng-click="close()">
                        <md-icon id="back-arrow" md-svg-icon="/img/icons/arrow_back.svg"></md-icon>
                    </md-button>
                </div>

                <div class="md-toolbar-tools">
                    <md-list>
                        <md-list-item class="md-3-line">
                        </md-list-item>
                    </md-list>
                </div>

                <div class="md-toolbar-tools">
                    <md-list>
                        <md-list-item ng-click="" id="avatar-item" class="md-3-line">
                            <img id="avatar-image" class="md-avatar"
                                 ng-src="https://s3.amazonaws.com/uifaces/faces/twitter/krystynheide/128.jpg">
                            <div class="md-list-item-text">
                                <p>Aktiver Admin:</p>
                                <p>{{username}}</p>
                            </div>
                        </md-list-item>
                    </md-list>
                </div>
            </md-toolbar>
            <md-toolbar class="md-accent">
                <md-content flex>
                    <section>
                        <md-list>
                            <md-divider></md-divider>
                            <md-subheader>Auswahl</md-subheader>
                            <md-list-item ui-sref="home" class="md-2-line" md-ink-ripple>
                                <div class="md-list-item-text">
                                    <h3>User und Posts</h3>
                                </div>
                            </md-list-item>

                            <md-list-item ui-sref="tools" ng-click="close();" class="md-2-line" md-ink-ripple>
                                <div class="md-list-item-text">
                                    <h3>Analyse Tools</h3></div>
                            </md-list-item>

                            <md-divider></md-divider>
                            <md-subheader>Profil</md-subheader>
                        </md-list>
                    </section>
                </md-content>
        </md-sidenav>
    </section>
</div>

