<!-- Toolbar -->
<md-toolbar layout="row">
    <div class="md-toolbar-tools" layout-align="center center">
        <md-button class="md-icon-button" aria-label="Settings" ng-click="close();">
            <md-icon md-svg-icon="img/icons/menu.svg"></md-icon>
        </md-button>
        <h2 class="md-toolbar-tools" layout-align="center center">
            Users and Posts
        </h2>
    </div>
    <md-button class="logout-button" ui-sref="logout" layout-align="center center">Logout</md-button>
</md-toolbar>

<!-- Content Starts here -->
<div class="container content-holder" layout="column" layout-sm="column" layout-xs="column"
     flex-sm="100" flex-xs="100">

    <div layout="column" hide-gt-sm>
        <h2>User Auswahl:</h2>
        <md-select placeholder="User" ng-model="selecter" aria-label="Selection">
            <md-label>Registrierte User:</md-label>
            <md-option ng-repeat="oneuser in users" ng-click="loadPosts(oneuser)">
                <md-button ng-class="{'selected' : oneuser === selected }"
                           aria-label="userLabel">
                    <img ng-src="https://s3.amazonaws.com/uifaces/faces/twitter/krystynheide/128.jpg"
                         class="face" alt="">
                    {{oneuser.username}}
                </md-button>
            </md-option>
        </md-select>
    </div>

    <div layout="row" flex class="content-wrapper md-whiteframe-z2">
        <!-- Users -->
        <div id="user-list-container" class="usersandposts" layout="column" flex="20" hide-sm hide-xs>
            <h4>Registrierte User:</h4>
            <md-divider></md-divider>
            <md-list class="user-list">
                <md-item ng-show="!usersLoaded">
                    <md-progress-circular class="md-accent"
                                          md-diameter="40" md-mode='indeterminate'>
                    </md-progress-circular>
                </md-item>

                <md-item ng-repeat="oneuser in users">
                    <md-item-content>
                        <div layout="row" layout-align="space-around center">
                            <div layout="column" flex="80">
                                <md-button ng-click="loadPosts(oneuser)" ng-class="{'selected' : oneuser === selected }"
                                           aria-label="userLabel">
                                    <img ng-src="https://s3.amazonaws.com/uifaces/faces/twitter/krystynheide/128.jpg"
                                         class="face" alt="">
                                    {{oneuser.username}}
                                </md-button>
                            </div>
                            <div layout="column" flex="20">
                                <md-menu>
                                    <md-button aria-label="Delete Post" ng-click="openMenu($mdOpenMenu, $event)">
                                        <img class="delete-cross" src="img/icons/delete_cross.svg" alt="Close">
                                    </md-button>
                                    <md-menu-content width="2">
                                        <md-menu-item>
                                            <md-button ng-click="redialUser($event, oneuser)">
                                                Delete this User?
                                            </md-button>
                                        </md-menu-item>
                                    </md-menu-content>
                                </md-menu>
                            </div>
                        </div>
                    </md-item-content>
                </md-item>
            </md-list>
        </div>

        <md-divider></md-divider>

        <!-- Posts -->
        <div layout="column" class="content-wrapper content-holder middle-align" id="primary-col" flex="80" layout-wrap>
            <div ng-show="noneSelected">Wählen Sie einen User aus!</div>
            <div class="usersandposts middle-align" layout="row" layout-wrap layout-align="start start">
                <md-card class="post-card" ng-repeat="post in selectedPosts">
                    <div class="cell">
                        <img ng-src="http://193.5.58.95/img/test_tmbn/{{post.img_path}}" alt="{{post.model}}">
                    </div>
                    <md-content layout="row">
                        <md-content layout="column" layout-align="center center" flex>
                            <h4>{{post.brand}} {{post.model}}</h4>
                        </md-content>
                        <md-menu>
                            <md-button aria-label="Delete Post" ng-click="openMenu($mdOpenMenu, $event)">
                                <img class="delete-cross" src="img/icons/delete_cross.svg" alt="Close">
                            </md-button>
                            <md-menu-content width="2">
                                <md-menu-item>
                                    <md-button ng-click="redial($event, post.id)">
                                        Delete this Post?
                                    </md-button>
                                </md-menu-item>
                            </md-menu-content>
                        </md-menu>
                    </md-content>
                </md-card>
            </div>
        </div>
    </div>
</div>
<!-- END -->

<!-- Sidebar navigation starts here -->
<div layout="column" ng-cloak>
    <section layout="row" flex>
        <md-sidenav
                class="md-sidenav-left"
                md-component-id="left"
                md-disable-backdrop
                md-whiteframe="4">
            <md-toolbar class="md-theme-indigo">
                <div class="md-toolbar-tools">
                    <h1 class="md-toolbar-tools" layout-align="center center">Admin Panel</h1>
                    <span flex></span>
                    <md-button class="md-icon-button" aria-label="Settings" ng-click="close()">
                        <md-icon id="back-arrow" md-svg-icon="/img/icons/arrow_back.svg"></md-icon>
                    </md-button>
                </div>

                <div class="md-toolbar-tools">
                    <md-list>
                        <md-list-item class="md-3-line">
                        </md-list-item>
                    </md-list>
                </div>

                <div class="md-toolbar-tools">
                    <md-list>
                        <md-list-item id="avatar-item" class="md-3-line">
                            <img id="avatar-image" class="md-avatar"
                                 ng-src="https://s3.amazonaws.com/uifaces/faces/twitter/krystynheide/128.jpg">
                            <div class="md-list-item-text">
                                <p>Aktiver Admin:</p>
                                <p>{{username}}</p>
                            </div>
                        </md-list-item>
                    </md-list>
                </div>
            </md-toolbar>
            <md-toolbar class="md-accent">
                <md-content flex>
                    <section>
                        <md-list>
                            <md-divider></md-divider>
                            <md-subheader>Auswahl</md-subheader>
                            <md-list-item ui-sref="home" class="md-2-line" md-ink-ripple>
                                <div class="md-list-item-text">
                                    <h3>User und Posts</h3>
                                </div>
                            </md-list-item>

                            <md-list-item ui-sref="tools" ng-click="close();" class="md-2-line" md-ink-ripple>
                                <div class="md-list-item-text">
                                    <h3>Analyse Tools</h3></div>
                            </md-list-item>

                            <md-divider></md-divider>
                            <md-subheader>Profil</md-subheader>

                            <md-list-item ng-click="" class="md-2-line" md-ink-ripple>
                                <div class="md-list-item-text">
                                    <h3>Bearbeiten</h3></div>
                            </md-list-item>

                        </md-list>
                    </section>
                </md-content>
        </md-sidenav>
    </section>
</div>

