<!-- Toolbar -->
<md-toolbar layout="row">
    <div class="md-toolbar-tools">
        <md-button class="md-icon-button" aria-label="Settings" ng-click="close();">
            <md-icon md-svg-icon="img/icons/menu.svg"></md-icon>
        </md-button>
        <h2 class="md-toolbar-tools" layout-align="center center">
            Tools
        </h2>
    </div>
    <md-button class="logout-button" ui-sref="logout">Logout</md-button>
</md-toolbar>


<!-- Content Starts here -->
<div class="container content-holder md-whiteframe-1dp" layout="column" layout-sm="column" layout-xs="column"
     flex-sm="100" flex-xs="100">

    <!-- Graph Container  -->
    <div id="line-container" layout="row" layout-xs="column" layout-sm="column" layout-align="start start"
         class="container content-holder md-whiteframe-1dp" style="height: 100%">
    </div>
    <!-- END  -->

</div>
<!-- END -->

<div class="container content-holder md-whiteframe-1dp" layout="column">
    <!-- Map Container -->
    <div id="map"></div>
</div>
<!-- END -->

<!-- Sidebar navigation starts here -->
<div layout="column" ng-cloak>
    <section layout="row" flex>
        <md-sidenav
                class="md-sidenav-left"
                md-component-id="left"
                md-disable-backdrop
                md-whiteframe="4">
            <md-toolbar class="md-theme-indigo">
                <div class="md-toolbar-tools">
                    <h1 class="md-toolbar-tools" layout-align="center center">Admin Panel</h1>
                    <span flex></span>
                    <md-button class="md-icon-button" aria-label="Settings" ng-click="close()">
                        <md-icon id="back-arrow" md-svg-icon="/img/icons/arrow_back.svg"></md-icon>
                    </md-button>
                </div>

                <div class="md-toolbar-tools">
                    <md-list>
                        <md-list-item class="md-3-line">
                        </md-list-item>
                    </md-list>
                </div>

                <div class="md-toolbar-tools">
                    <md-list>
                        <md-list-item ng-click="" id="avatar-item" class="md-3-line">
                            <img id="avatar-image" class="md-avatar"
                                 ng-src="https://s3.amazonaws.com/uifaces/faces/twitter/krystynheide/128.jpg">
                            <div class="md-list-item-text">
                                <p>Aktiver Admin:</p>
                                <p>{{username}}</p>
                            </div>
                        </md-list-item>
                    </md-list>
                </div>
            </md-toolbar>
            <md-toolbar class="md-accent">
                <md-content flex>
                    <section>
                        <md-list>
                            <md-divider></md-divider>
                            <md-subheader>Auswahl</md-subheader>
                            <md-list-item ui-sref="home" class="md-3-line" md-ink-ripple>
                                <div class="md-list-item-text">
                                    <h3>User und Posts</h3>
                                </div>
                            </md-list-item>

                            <md-list-item ui-sref="tools" class="md-3-line" md-ink-ripple>
                                <div class="md-list-item-text">
                                    <h3>Analyse Tools</h3></div>
                            </md-list-item>

                            <md-divider></md-divider>
                            <md-subheader>Profil</md-subheader>

                            <md-list-item ng-click="" class="md-3-line" md-ink-ripple>
                                <div class="md-list-item-text">
                                    <h3>Bearbeiten</h3></div>
                            </md-list-item>

                        </md-list>
                    </section>
                </md-content>
        </md-sidenav>
    </section>
</div>

<script>
    $(function () {
        window.dispatchEvent(new Event('resize'));
    });
</script>
</div>

